<h3>Your current games list</h3>
<br> <br>
<table class="table table-hover" ng-if="games.length > 0">
    <tr>
        <th>#Game</th>
        <th>Player One</th>
        <th>Player Two</th>
        <th>Action</th>
    </tr>

    <tr ng-repeat="game in games track by $index">
        <td>{{$index+1}}</td>
        <td>
            <p ng-if="game.playerOne == currentUser._id">You</p>
            <p ng-if="game.playerOne != currentUser._id">User ({{game.playerOne}})</p>
        </td>
        <td>
            <p ng-if="game.playerTwo == currentUser._id">You</p>
            <p ng-if="game.playerTwo != currentUser._id">User ({{game.playerTwo}})</p>
        </td>
        <td><a class="btn btn-success" href="#/continue/{{game._id}}">Continue</a></td>
    </tr>
</table>

<div class="display-errors" ng-if="games.length == 0">
    <ul class="alert alert-info">
        <li>Yo do not have any game</li>
    </ul>
</div>