<h3>Your current games list</h3>
<a class="btn btn-primary pull-right" href="#/gameplay">Start New Game</a>
<br> <br>
<table class="table table-hover">
    <tr>
        <th>Rank #</th>
        <th>Opponents</th>
        <th>Action</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Lau Kum Hoe</td>
        <td><a class="btn btn-success" href="#/gameplay">Continue</a></td>
    </tr>

    <tr>
        <td>2</td>
        <td>Lau Kum Ping</td>
        <td><a class="btn btn-success" href="#/gameplay">Continue</a></td>
    </tr>

    <tr>
        <td>3</td>
        <td>Lau Mun Lai</td>
        <td><a class="btn btn-success" href="#/gameplay">Continue</a></td>
    </tr>

    <tr>
        <td>4</td>
        <td>Chong Swee Fah</td>
        <td><a class="btn btn-success" href="#/gameplay">Continue</a></td>
    </tr>

    <tr>
        <td>5</td>
        <td>Nero Jz</td>
        <td><a class="btn btn-success" href="#/gameplay">Continue</a></td>
    </tr>
</table>