<div>
    <h3>Leaderboard</h3>
    <a class="btn btn-danger pull-right" href="#gameplay/">Start New Game</a>
    <br><br>
    <h5>Welcome back, {{currentUser.username}}.</h5>

    <table class="table table-hover" ng-if="users">
        <tr>
            <th>Rank #</th>
            <th>Name</th>
            <th>Win</th>
            <th>Lose</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>

        <tr ng-repeat="user in users track by $index">
            <td>{{$index + 1}}</td>
            <td>{{user.username}}</td>
            <td>{{user.win}}</td>
            <td>{{user.lose}}</td>
            <td>Online</td>
            <td><a class="btn btn-success" href="#/gameplay">Challenge</a></td>
        </tr>
    </table>

    <div ng-if="!users">
        <p class="alert">There is no one registered in the system</p>
    </div>
</div>