<h3>Leaderboard</h3>

<table class="table table-hover">
    <tr>
        <th>Rank #</th>
        <th>Name</th>
        <th>Win</th>
        <th>Lose</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Lau Kum Hoe</td>
        <td>10</td>
        <td>0</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Lau Kum Ping</td>
        <td>8</td>
        <td>2</td>
    </tr>

    <tr>
        <td>3</td>
        <td>Lau Mun Lai</td>
        <td>6</td>
        <td>0</td>
    </tr>

    <tr>
        <td>4</td>
        <td>Chong Swee Fah</td>
        <td>6</td>
        <td>0</td>
    </tr>

    <tr>
        <td>5</td>
        <td>Nero Jz</td>
        <td>2</td>
        <td>6</td>
    </tr>
</table>