<div>

    <div ng-if="errors" class="display-errors">
        <ul>
            <li class="alert alert-danger" ng-repeat="error in errors">
                {{error.msg}}
            </li>
        </ul>
    </div>

    <form class="form-signin" ng-submit="registerUser()">
        <h2 class="form-signin-heading">Please Register</h2>
        <label>Username</label>
        <input type="text" id="username" ng-model="username" class="form-control" placeholder="Username">
        <label>Password</label>
        <input type="password" id="password" ng-model="password" class="form-control" placeholder="Password">
        <label>Confirm Password</label>
        <input type="password" id="password2" ng-model="password2" class="form-control" placeholder="Confirm Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
</div>