<h3>List of Users</h3>
<div>
    <table class="table table-hover" ng-if="users">
        <tr>
            <th>Rank #</th>
            <th>Name</th>
            <th>Win</th>
            <th>Lose</th>
        </tr>

        <tr ng-repeat="user in users track by $index">
            <td>{{$index + 1}}</td>
            <td>{{user.username}}</td>
            <td>{{user.win}}</td>
            <td>{{user.lose}}</td>
        </tr>
    </table>
    <div ng-if="!users">
        <p class="alert">There is no one registered in the system</p>
    </div>
</div>